body {
    background: #f8f8f8;
}

.menu li {
    font-style : italic;
    font-size : 20px;
    list-style-type : none;
}

.menu li a {
    color: darkslategrey;
}

.menu li a:hover {
    color: black;
}

.product_img {
    outline: 1px solid gray;
}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}

.short-description {
    color: #707070;
    font: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailed-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.properties {
    font-style: italic;
    font-size: 18px;
    background-color: floralwhite;
    list-style-type: square;
}

input[type='text'] {
    width: 250px;
    height: 20px;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}

textarea[name="textarea"] {
    text-transform: capitalize;
    
}

::placeholder {
    color: darkgray;
}

.email:focus {
    background-color: lightsteelblue;
    color: red;
}

table {
    border: 5x solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 50px;
}

td {
    border: 1px solid black;
}

.item_img {
    outline: 2px solid gray;
}
.item_img:hover {
    outline: none;
}

.capitalize_first_letter:first-letter {
    font-size: 30px;
}

