.container {
    width: 1000px;
    margin: 0 auto;
    
}

div {
    display: block;
}

body {
    background: #f8f8f8;
}

.logo {
    float: left;
    margin: 10px 20px;
}

.header {
    height: 190px;

    background: url(https://images.clipartlogo.com/files/istock/previews/8049/80496347-abstract-seamless-dot-background-pattern.jpg);
    background-size: 20%
    
}

.footer {
    height: 100px;
    width: 1000px;
    background-color: #F5F5F5;
    padding-right: 24px;
    padding-top: 5px;
    box-sizing: border-box;
    text-align: right;
    clear: both;
}

.menu{
    width: 360px;
    height: 58px;
    float: right;
    margin-left: 300px;
    background-color: #F8F8F8;
}

.menu ul li {
    font-style : italic;
    font-size : 20px;
    list-style-type : none;
    margin: 0px 10px;
    float: left; 
}

.menu li a {
    color: darkslategrey;
}

.menu li a:hover {
    color: black;
}

.product_img {
    outline: 1px solid gray;

}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;

}

.short-description {
    color: #707070;
    font: 14px;
    font-style: italic;
    line-height: 16px;
    overflow: hidden;
}

.detailed-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.properties {
    font-style: italic;
    font-size: 18px;
    background-color: floralwhite;
    list-style-type: square;
}

input[type='text'] {
    width: 300px;
    height: 20px;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}

input[type='button']:hover {
    background-color: white;
}

input[type='button']:active {
    color: navajowhite;
}

textarea[name="textarea"] {
    text-transform: capitalize;
    
}

::placeholder {
    color: darkgray;
}

.email:focus {
    background-color: lightsteelblue;
    color: red;
}

table {
    border: 5x solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 50px;
}

td {
    border: 1px solid black;
}

.item_img {
    outline: 2px solid gray;
    float: left;
    margin-right: 25px;
}

.item_img:hover {
    outline: none;
}

.items {
    height: 160px;
    display: flex;
}

.product {
    width: 100px;
    float: left;
    padding-left: 10px;
}

.caption {
    clear: both;
    padding-top: 20px;
}

.capitalize_first_letter:first-letter {
    font-size: 30px;
}

form {
    width: 310px;
    padding: 10px;
    border: 1px solid black;
}
