.container {
    width: 700px;
    margin: 0 auto;
    
}

body {
    background: #f8f8f8;
}

.logo {
        float: left;
}

.header {
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    
}

.footer {
    height: 100px;
    width: 700px;
    background-color: #F5F5F5;
    padding-right: 20px;
    padding-top: 10px;
    text-align: right;
    clear: both;
}


.menu li {
    font-style : italic;
    font-size : 20px;
    list-style-type : none;
    display: inline;
    padding-left: 20px;
    float: right; 

}

.menu li a {
    color: darkslategrey;
}

.menu li a:hover {
    color: black;
}

.product_img {
    outline: 1px solid gray;

}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;

}

.short-description {
    color: #707070;
    font: 14px;
    font-style: italic;
    line-height: 16px;
    padding-left: 15px;
}

.detailed-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.properties {
    font-style: italic;
    font-size: 18px;
    background-color: floralwhite;
    list-style-type: square;
}

input[type='text'] {
    width: 250px;
    height: 20px;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}

input[type='button']:hover {
    background-color: white;
}

input[type='button']:active {
    color: navajowhite;
}

textarea[name="textarea"] {
    text-transform: capitalize;
    
}

::placeholder {
    color: darkgray;
}

.email:focus {
    background-color: lightsteelblue;
    color: red;
}

table {
    border: 5x solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 50px;
}

td {
    border: 1px solid black;
}

.item_img {
    outline: 2px solid gray;
    float: left;
    margin-right: 25px;
}

.item_img:hover {
    outline: none;
}

.product {
    width: 100px;
    height: 148px;

    float: left;
    padding-left: 5px;
}

.capitalize_first_letter:first-letter {
    font-size: 30px;
}
